<?xml version="1.0"?>
<configuration>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>

	<appSettings>
		<clear />

		<!--  
		1 = 1 thread only (ie no multithreading) 
		n = use n threads, up to max (maximum physical threads)
		-->
		<add key = "MultiThreading" value = "max" />

	</appSettings>
	
</configuration>
